<div class="container mt-16">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-danger">Course</h3>
            <a class="btn btn-primary" href="/courses" role="button">All courses</a>
            <a class="btn btn-primary" href="/courses/create" role="button">Add course</a>
        </div>
    </div>
</div>